@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18;
  line-height: 21;
  color: #333333;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Aria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  min-height: 66px;
  align-items: center;
  padding-top: 0;
}

.navigation-link-nav-active::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  background-color: #756257;
  bottom: -3px;
  z-index: 2;
}

.logo-link {
  display: inline-block;
  height: 70px;
  margin-right: 47px;
  align-self: flex-start;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-favorites::after {
  position: absolute;
  left: 24px;
  top: 15px;
  display: inline-block;
  content: "12";
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: #7db54f;
  color: #f2f2f2;
  font-size: 10px;
  text-align: center;
  vertical-align: auto;
}

.navigation-link-favorites {
  margin-right: 20px;
}

.logo {
  position: relative;
  z-index: 1;
}

.navigation-list {
  list-style-type: none;
  min-height: 66px;
  align-items: center;
  max-width: 500px;
}

.nav-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  transform: translateY(-4px);
}

.nav-header .navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-item {
  max-width: 160px;
}

.nav-user-menu {
  display: flex;
  padding-left: 0;
  margin: 0;
  margin-left: auto;
}

.navigation-link-search,
.navigation-link-favorites {
  position: relative;
  display: inline-block;
  min-width: 42px;
  min-height: 66px;
}

.navigation-link-search:hover,
.navigation-link-favorites:hover {
  fill: #756257;
}

.navigation-link-search:active svg,
.navigation-link-favorites:active svg {
  opacity: 0.3;
}

.navigation-link {
  position: relative;
  font-family: "PT Sans", "Aria", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  min-height: 60px;
  box-sizing: border-box;
  padding-top: 19px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  opacity: 0.3;
}

.filter-input-item {
  position: relative;
}

.placeholder-price {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;
}

.placeholder-price-off {
  display: none;
}

.want-here {
  display: inline-block;
  margin: 13px 0 19px 1px;
  min-width: 160px;
  min-height: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 7px;
  background: #756257;
  color: #ffffff;
  border: 3px solid #83b3d300;
}

.want-here:hover.want-here {
  color: #ffffff;
  background-color: #615048;
}

.want-here:active.want-here {
  opacity: 1;
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.want-here.want-here:focus {
  border: 3px solid #83b3d3;
  outline: none;
  box-sizing: border-box;
}

.main-container {
  align-self: stretch;
  flex-grow: 1;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.card {
  background: url("../images/index-background-mask.svg"), url("../images/index-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 484px;
  background-size: auto;
  max-width: 1200px;
  margin-top: -5px;
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 282px;
}

.facts-header {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 720px;
  margin: 63px 240px 31px;
  margin-bottom: 0;
}

.facts-header-span {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 31px;
  word-spacing: 3px;
}

.facts-causes {
  font-size: 22px;
  line-height: 36px;
  max-width: 720px;
  margin-top: 0;
}

.container-bridge-devill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #83b3d3;
}

.advantages-list {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #83b3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 384px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  flex-grow: 1;
  word-wrap: break-word;
  max-width: 800px;
}

.beatiful-road-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 97px;
  margin-bottom: 30px;
  max-width: 300px;
}

.advantages-title-city,
.advantages-title-devill {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 30px;
}

.recommendations-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
}

.recommendations-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 300px;
  min-height: 384px;
}

.recommendations-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 184px;
  margin-bottom: 20px;
}

.recommendations-item::before {
  position: absolute;
  top: 89px;
  content: "";
  width: 72px;
  height: 75px;
  background-repeat: no-repeat;
}

.housing::before {
  background-image: url("../images/index-recommendations-home.svg");
}

.eat::before {
  background-image: url("../images/index-recommendations-eat.svg");
}

.souvenirs::before {
  background-image: url("../images/index-recommendations-suvenir.svg");
}

.recommendations-item-text {
  margin: 0;
  width: 250px;
  min-height: 73px;
}

.advantage-item-container {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  min-height: 384px;
  width: 400px;
}

.container-real-city {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #83b3d3;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-2 {
  min-width: 400px;
}

.advantages-title-text-1,
.advantages-title-text-2 {
  max-width: 220px;
  margin: 0 auto;
}

.advantages-title-text {
  max-width: 250px;
  margin: 0;
}

.advantages-title-number {
  margin: 0;
  margin-bottom: 30px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 415px;
}

.search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 720px;
  padding-top: 91px;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
}

.search-hotel-paragraf {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  max-width: 720px;
  margin: 0;
  margin-bottom: 54px;
}


.page-footer {
  text-align: center;
  max-width: 1200px;
}

.follow-catalog {
  min-height: 241px;
  margin-bottom: 140px;
}

.follow {
  box-sizing: border-box;
  padding-top: 94px;
  margin: 0;
  background-image: url("../images/index-background-follow.jpg");
  background-repeat: repeat;
  background-position: center;
  background-color: #000000;
  color: #ffffff;
  min-height: 411px;
}

.follow-catalog-h2 {
  margin: 0 auto;
  margin-bottom: 46px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
}

.follow-index-h2 {
  margin: 0 auto;
  margin-bottom: 29px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
}

.follow-catalog-p {
  margin: 0 auto;
  margin-bottom: 46px;
  max-width: 720px;
  font-size: 22px;
  line-height: 26px;
}

.follow-item {
  display: flex;
  min-height: 60px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.follow-catalog-input {
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
  max-width: 601px;
  flex-grow: 1;
  padding-left: 18px;
  padding-top: 2px;
  box-sizing: border-box;
  border: 3px solid #83b3d300;
  box-shadow: none;
}

.follow-catalog-input:hover {
  background: #e6e6e6;
}

.follow-catalog-input:focus {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.follow-catalog-input:invalid,
.input-error {
  border: 3px solid #ff5757;
}

.button-follow {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  border-radius: 0 10px 10px 0;
  min-width: 200px;
  max-width: 600px;
  word-wrap: break-word;
  border: 0;
  cursor: pointer;
}

.button-follow:hover {
  background-color: #68a2ca;
}

.button-follow:focus {
  border: 3px solid #756257;
  outline: none;
}

.button-follow:active .button-follow-active {
  opacity: 0.3;
}


.follow-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 94px;
}

.follow-paragraf {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.button-catalog-container {
  display: flex;
  align-self: stretch;
  justify-content: center;
}

.button-catalog {
  font-family: inherit;
  background-color: #756257;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 60px;
  max-width: 575px;
  flex-grow: 1;
  text-align: center;
  border-radius: 10px;
  padding-top: 12px;
  box-sizing: border-box;
  border: 3px solid #83b3d300;
}

.button-catalog:focus {
  background: #615048;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  outline: none;
}

.button-catalog:hover {
  background: #615048;
}

.button-catalog:active .button-catalog-active {
  opacity: 0.3;
}

.page-footer-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.page-footer-paragraf {
  font-size: 22px;
  line-height: 26px;
}

.contacts-phone {
  display: inline-block;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 720px;
  height: 50px;
  box-sizing: border-box;
  padding-top: 9px;
  text-align: center;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
  padding-top: 6px;
}

.logo-footer {
  display: inline-block;
  width: 115px;
  height: 34px;
  padding-top: 10px;
  box-sizing: border-box;
  outline: none;
}

.contacts-item-phone {
  margin-right: auto;
}

.contacts-item-logo {
  margin-right: 9px;
}

.logo-footer:hover svg {
  fill: #756257;
}

.logo-footer:focus svg {
  opacity: 0.3;
}

.container-logo-footer {
  box-sizing: border-box;
  border: 3px solid #ffffff00;
}

.container-logo-footer:focus-within {
  border: 3px solid #83b3d3;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Стилизация каталога */

.filter {
  display: flex;
  flex-direction: column;
  min-height: 408px;
  padding-left: 71px;
  margin-bottom: 44px;
  margin-top: -6px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background-filter.jpg");
}

.filter-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  min-width: 528px;
  margin: 0;
  margin-top: 36px;
}

.breadcrumbs {
  position: relative;
  left: -5px;
  top: -5px;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  margin-bottom: 44px;
  min-width: 111px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-home {
  display: flex;
  border: 3px solid rgba(255, 25, 25, 0);
  width: 12px;
  min-height: 12px;
  fill: #ffffff;
  padding: 3px 5px;
  align-items: flex-start;
}

.breadcrumbs-hotels {
  border: 3px solid rgba(236, 11, 11, 0);
  display: inline-block;
  padding: 0 8px;
  min-height: 18px;
  text-decoration: none;
  cursor: text;
  color: #ffffff;
}

.result-card-title a {
  text-decoration: none;
}

.breadcrumbs-list:hover a {
  opacity: 0.6;
}

.breadcrumbs-list:active a {
  opacity: 0.3;
}

.breadcrumbs-home:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-hotels:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.filter-fieldset-infrastructure {
  line-height: 23px;
  min-width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 67px;
  border: 0;
  word-wrap: break-word;
  max-width: 200px;
}

.filter-checkbox {
  content: "";
  display: inline-block;
  width: 20px;
  height: 19px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-right: 19px;
  box-shadow: 0 4px 4px rgba(0, 0, 4, 0.25);
}

.filter-checkbox-input:checked + .filter-checkbox {
  background-position: center;
  background-image: url("../images/catalog-filter-checkbox.svg");
  background-repeat: no-repeat;
}

.filter-checkbox-input:hover + .filter-checkbox {
  opacity: 0.6;
}

.filter-checkbox-input:focus + .filter-checkbox {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  margin-right: 13px;
  transform: translateX(-3px);
  opacity: 0.6;
}

.filter-checkbox-input:active + .filter-checkbox {
  opacity: 0.3;
  border-radius: 4px;
}

.filter-fieldset-housing {
  box-sizing: border-box;
  line-height: 23px;
  padding: 0;
  margin: 0;
  border: 0;
  margin-right: 154px;
  word-wrap: break-word;
  max-width: 200px;
}

.filter-radio {
  position: relative;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 21px;
}

.filter-radio-input:checked + .filter-radio::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  content: "";
  background-color: #3f5e72;
  background-position: center;
  border-radius: 50%;
}

.filter-radio-input:focus + .filter-radio {
  border: 3px solid #83b3d3;
  border-radius: 50%;
  margin-right: 15px;
  transform: translateX(-3px);
}

.filter-type {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: px;
}

.filter-type-list-price {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  display: flex;
  height: 48px;
  list-style-type: none;
  max-width: 287px;
}

.filter-input {
  width: 143px;
  height: 48px;
  background-color: unset;
  text-align: right;
  color: #ffffff;
  box-sizing: border-box;
  padding-right: 17px;
  cursor: pointer;
}

.price-max {
  margin-left: -1px;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.price-min {
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
}

.filter-input:hover {
  opacity: 0.6;
}

.filter-input:focus {
  border: 2px solid #ffffff;
  box-shadow: inset 0 0 0 4px #81b3d2, 0 0 0 4px #81b3d2;
  outline: none;
}

.filter-input:active {
  background: #756257;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.filter-input:focus:hover {
  opacity: 1;
}

.legend-filter-type-price {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  word-wrap: break-word;
  max-width: 200px;
}

.range {
  position: relative;
  top: -4px;
}

.range-scale {
  position: relative;
  display: block;
  height: 4px;
  background-color: #ffffff62;
}

.range-bar {
  position: absolute;
  display: block;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  display: inline-block;
  content: "";
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  opacity: 1;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  position: absolute;
  top: -8px;
  left: -9px;
}

.toggle-max {
  position: absolute;
  top: -8px;
  right: -8px;
}

.filter-type-price {
  box-sizing: border-box;
  margin: 0;
  margin-right: auto;
  border: 0;
}

.catalog-filter {
  position: relative;
  top: -10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1057px;
  margin: 0;
}

.filter-type-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 95px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  justify-content: center;
}

.filter-label {
  word-wrap: break-word;
  max-width: 150px;
}

.filter-label-hover {
  min-height: 26px;
  cursor: pointer;
}

.filter-type-elements {
  margin-bottom: 9px;
  min-height: 15px;
  margin-left: 2px;
}

.filter-type-elements label {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
}

.filter-type-elements input {
  width: 20px;
  height: 20px;
  margin-right: 19px;
}

.filter-type-elements input:hover {
  opacity: 0.7;
}

.button-apply,
.button-reset {
  min-width: 160px;
  min-height: 48px;
  padding: 0;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: break-word;
  max-width: 200px;
}

.button-apply {
  position: relative;
  top: 2px;
  margin-top: 55px;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-reset {
  position: relative;
  top: 10px;
  background-color: unset;
  border-width: 0;
  font-size: 18px;
  line-height: 23px;
}

.button-apply-reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-apply:hover {
  background: #68a2ca;
}

.button-apply:focus {
  background: #68a2ca;
  border: 3px solid #ffffff;
  border-radius: 4px;
  outline: none;
}

.button-apply:active {
  opacity: 0.6;
  border: 0;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-reset:active {
  opacity: 0.3;
  border: 0;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  min-width: 350px;
  height: 39px;
  margin: 0;
  margin-right: 176px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  margin: 0 72px;
}

.sorting * {
  margin-bottom: 53px;
}

.view {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 8px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
}

.sorting-item {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.sorting-item:hover {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-item:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-table {
  background-image: url("../images/catalog-sorting-table.svg");
}

.sorting-carousel {
  background-image: url("../images/catalog-sorting-caruasel.svg");
}

.sorting-list {
  background-image: url("../images/catalog-sorting-list.svg");
}

.sorting-item-current {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.view-list {
  height: 48px;
  width: 48px;
  margin-right: 8px;
  box-sizing: border-box;
}

.select-price {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  font-style: normal;
  letter-spacing: -1px;
  min-width: 287px;
  height: 48px;
  margin-right: 10px;
  border-radius: 4px;
  padding-left: 19px;
  border: 2px solid #e6e6e6;
  -webkit-appearance: unset;
          appearance: unset;
  background-image: url("../images/catalog-selector-pointer.svg");
  background-repeat: no-repeat;
  background-position: 254px;
}

.select-price:hover {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-price:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.select-price:active {
  opacity: 0.3;
}

.result-card-title-item {
  position: relative;
  bottom: 2px;
  left: 1px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
}

.result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 18px;
  row-gap: 11px;
  margin: 0 72px;
  margin-bottom: 35px;
  justify-items: center;
}

.img-card {
  left: -3px;
  top: -1px;
}

.link-result-card-img {
  display: block;
  width: 299px;
  height: 206px;
  border: 3px solid #83b3d300;
}

.result-card-img {
  grid-column: 1 / 3;
}

.result-card-img:hover {
  opacity: 0.6;
}

.link-result-card-img:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.result-card-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.result-list {
  display: grid;
  grid-template-columns: 137px 137px;
  row-gap: 14px;
  column-gap: 27px;
  list-style-type: none;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

.hotel-price-item {
  position: relative;
  left: -6px;
  top: 1px;
  font-size: 18px;
  line-height: 23px;
  grid-column: 2 / 3;
  margin: 0;
}

.hotel-type-item {
  position: relative;
  top: 1px;
  left: -1px;
  grid-column: 1 / 2;
  margin: 0;
  word-wrap: break-word;
}

.button-more-link {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  width: 133px;
  min-height: 37px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7px;
  border-radius: 4px;
  border: 3px solid #83b3d300;
}

.button-more-link:hover {
  background: #615048;
}

.button-more-link:focus {
  background: #615048;
  border: 3px solid #83b3d3;
  outline: none;
}

.button-favorites-link-off {
  position: relative;
  left: -4px;
  display: inline-block;
  font-family: inherit;
  width: 140px;
  min-height: 38px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 6px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83b3d3;
  border: 3px solid #75625700;
}

.button-favorites-link-off:hover {
  background: #68a2ca;
  border: 1px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-favorites-link-off:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  outline: none;
}

.button-favorites-link-on {
  position: relative;
  left: -5px;
  display: inline-block;
  font-family: inherit;
  background-color: #7db54f;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  min-height: 37px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 9px;
  border-radius: 4px;
  border: 3px solid #75625700;
}

.button-favorites-link-on:hover {
  background: #6c9e42;
}

.button-favorites-link-on:focus {
  background: #6c9e42;
  border: 3px solid #756257;
  outline: none;
}

.star {
  display: grid;
  grid-template-columns: 18px 18px 18px 18px;
  gap: 7px;
  position: relative;
  bottom: 8px;
  align-self: flex-end;
}

.rating {
  position: relative;
  left: -22px;
  width: 160px;
  min-height: 37px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  background: #f2f2f2;
  border-radius: 4px;
}

.button-loading-more,
.pagination-link {
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link:hover {
  background: #68a2ca;
  border-radius: 4px;
}

.pagination-link:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}

.pagination-link:focus:active {
  background: #68a2ca;
  opacity: 0.3;
}


.pagination-link:active {
  color: #000000;
  background-color: #ffffff;
}

.button-loading-more {
  display: block;
  width: 616px;
  min-height: 55px;
  border-radius: 4px;
  text-align: center;
  margin: 30px auto;
  border: 3px solid #75625700;
}

.button-loading-container {
  display: flex;
  min-height: 120px;
  margin-bottom: 30px;
}

.button-loading-more-text-container {
  display: block;
  padding-top: 14px;
  min-height: 26px;
}

.button-loading-more:hover {
  background: #68a2ca;
  border-radius: 4px;
}

.button-loading-more:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}

.button-loading-more:active {
  background: #68a2ca;
  opacity: 0.3;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 55px;
  margin-bottom: 73px;
  margin-left: 72px;
  margin-right: 72px;
  align-items: center;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 55px;
  max-width: 600px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  max-width: 136px;
  min-height: 55px;
  margin: 0;
  padding-top: 12px;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #75625700;
}

.hotel-in-page-title {
  width: 175px;
  margin: 0;
  margin-right: 51px;
  margin-left: auto;
}

.pagination-current {
  background-color: #ffffff;
  color: #000000;
}

.hotel-in-page-title,
.select-number {
  font-size: 18px;
  line-height: 23px;
}

.select-number {
  display: inline-block;
  width: 160px;
  min-height: 48px;
  padding: 10px 17px ;
  padding-left: 17px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
  background-image: url("../images/catalog-selector-pointer.svg");
  background-repeat: no-repeat;
  background-position: 127px;
}

.select-number:hover {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-number:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.select-number:active {
  opacity: 0.3;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 112px;
  margin: 0 60px;
  margin-top: auto;
}

.contacts-list {
  position: relative;
  top: 5px;
  min-width: 107px;
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
  justify-self: center;
}

.contacts-list-catalog {
  min-width: 107px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-self: center;
  position: relative;
  left: -52px;
  top: 2px;
}

.contacts-item:last-child {
  margin-right: 0;
  padding-right: 2px;
}

.footer-twitter,
.footer-facebook,
.footer-youtube {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  padding: 10px;
  box-sizing: border-box;
}

.contacts-item {
  margin-right: 5px;
}

.footer-social svg {
  fill: #83b3d3;
}

.footer-social:hover svg {
  fill: #68a2ca;
}

.footer-social:focus {
  padding: 7px;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  fill: #68a2ca;
}

.search-hotel-model-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(242, 242, 242, 0.8);
}

.model-window-info-data-error {
  position: relative;
  margin: 0;
  margin-bottom: 9px;
  left: 159px;
  width: 400px;
  min-height: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ff5757;
  box-sizing: border-box;
}

.model-window-info-data-successful {
  position: relative;
  margin: 0;
  left: 155px;
  width: 420px;
  min-height: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 6px;
}

.container-search-hotel-model-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 715px;
  min-height: 561px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 42px 71px;
  padding-top: 62px;
  font-weight: 700;
  font-size: 18px;
  background: #ffffff;
}

.model-close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 13px;
  min-height: 13px;
  padding: 0;
  border: 0;
  transform: translate(-50%, -50%);
  background-image: url("../images/model-close-button.svg");
  background-repeat: no-repeat;
  background-color: unset;
  outline: none;
  cursor: pointer;
}

.container-model-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  min-height: 53px;
  border-radius: 50%;
  cursor: pointer;
}

.container-model-close-button:hover {
  background-color: #e6e6e6;
}

.container-model-close-button:focus-within {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
}

.container-model-close-button:active .model-close-button {
  opacity: 0.3;
}

.container-data-out {
  position: relative;
}

.container-data-in {
  position: relative;
}

.container-data-in-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.icon-calendar {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 18px;
  right: 17px;
  background-image: url("../images/model-icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.input-data {
  position: relative;
  height: 49px;
  min-width: 420px;
  border: 0;
  box-sizing: border-box;
  padding-left: 19px;
  background: #f2f2f2;
}

.input-data:hover {
  background: #e6e6e6;
  border-radius: 4px;
}

.input-data:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
  background: #e6e6e6;
}

.input-data:active {
  border: 2px solid #000000;
  border-radius: 4px;
  background: #ffffff;
}

.data-label {
  display: inline-block;
  width: 155px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.number-adult-label {
  display: inline-block;
  width: 155px;
  cursor: pointer;
}

.number-adult-children {
  width: 54px;
  height: 50px;
  margin-right: 43px;
  cursor: pointer;
}

.search-hotel-container-parameters {
  display: flex;
  min-height: 50px;
  margin-bottom: 41px;
}

.model-input-number {
  width: 20px;
  height: 25px;
  border: 0;
  padding: 4px;
  padding-left: 6px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: #f2f2f2;
}

.container-number {
  display: flex;
  width: 133px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.container-number-adult {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 288px;
}

.container-number-children {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
  width: 230px;
  padding-top: 2px;
}

.number-children-label {
  display: block;
  max-width: 108px;
  min-width: 53px;
  height: auto;
  cursor: pointer;
}

.toggle-number {
  align-items: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.toggle-number-min {
  background-image: url("../images/model-button-min.svg");
}

.toggle-number-max {
  transform: translateX(-2px);
  background-image: url("../images/model-button-max.svg");
}

.toggle-number-min:hover,
.toggle-number-max:hover {
  opacity: 1;
}

.toggle-number-min:focus,
.toggle-number-max:focus {
  opacity: 1;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.toggle-number-min:active,
.toggle-number-max:active {
  opacity: 0.2;
  border: 0;
  outline: none;
}

.header-model-label {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  min-height: 67px;
  margin-bottom: 32px;
  align-self: start;
  transform: translateX(-4px);
}

.button-search-hotel {
  width: 575px;
  min-height: 60px;
  background: #83b3d3;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

.button-search-hotel:hover {
  background: #68a2ca;
}

.button-search-hotel:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  outline: none;
}

.button-search-hotel:focus .button-search-hotel-span {
  opacity: 0.3;
}

.tooltip-icon {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  background-image: url("../images/model-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 0;
}

.tooltip-icon:hover {
  background-color: #68a2ca;
}

.tooltip-icon:hover + .tooltip-text {
  display: block;
}

.tooltip-icon:focus + .tooltip-text {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(131, 179, 211, 0.2);
}

.tooltip-icon:active + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 50px;
  left: -65px;
  display: none;
  width: 256px;
  height: 143px;
  padding: 15px 18px 18px 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-sizing: border-box;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text::before {
  position: absolute;
  top: -9px;
  left: 48%;
  display: inline-block;
  content: "";
  height: 9px;
  width: 19px;
  background-image: url("../images/model-tooltip-pointer.svg");
}

.model-window-off {
  display: none;
}
