@font-face {
  font-family: "PT Sans" ;
  font-style: normal;
  font-weight: 400;
  font-size: 18;
  line-height: 21;
  color: #333333;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans" ;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Aria", sans-serif;
  font-style: normal;
  font-weight:400;
  font-size: 18px;
  line-height: 21px;
  width: 1280px;
  margin: 0 auto;
  background-color: #fbf7f4;
  color: #000000;
}

.navigation-link {
  font-family: "PT Sans", "Aria", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.want-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #000000;
  background:url("/images/index-background-mask.svg"),
  url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.facts {
  text-align: center;
}

.facts-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.facts-causes {
  font-size: 22px;
  line-height: 36px;
}

.advantages-list {
  text-align: center;
}

.advantages-item.real-city {
  background-color:#83B3D3 ;
  color: #FFFFFF ;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase ;
}


.recommendations-item {
  text-align: center;
}

.recommendations-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotel {
  text-align: center;
}

.search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel-paragraf {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#333333;
}

.page-footer{
text-align: center;
}

.follow-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.follow-paragraf {
  font-size: 22px;
  line-height: 26px;
}

.button-catalog {
  font-family: inherit;
  background-color:#756257 ;
  color:#FFFFFF ;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.follow {
  background-image: url("/images/index-background-follow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  color:#FFFFFF;
}

.page-footer-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.page-footer-paragraf {
  font-size: 22px;
  line-height: 26px;
  }

.button-follow{
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  border-width: 1 px;
  border-color: #000000;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* Стилизация каталога */

.filter {
  background-image: url("/images/catalog-background-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  color: #FFFFFF;
}

.filter-header-title {
  font-weight:700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.type-filter{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.type-filter-list{
  font-size: 18px;
  line-height: 23px;
}

.button-apply,
.button-reset {
  font-family: inherit;
  color: #FFFFFF;
}

.button-apply {
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
}

.button-reset {
  background-color: unset;
  border-width: 0;
  font-size: 18px;
  line-height: 23px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-price {
  font-size: 18px;
  line-height: 23px;
}

.result-card-title a {
  text-decoration: none;
}

.result-card-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-price-item {
  font-size: 18px;
  line-height: 23px;
}

.button-more-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;

}

.button-favorites-link-off {
  font-family: inherit;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favorites-link-on {
  font-family: inherit;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-loading-more,
.pagination-link {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  background-color: #FFFFFF;
  color: #000000;
}

.hotel-in-page-title,
.select-number {
  font-size: 18px;
  line-height: 23px;
}

.contacts-list a {
  text-decoration: none;
  color: #000000;
}


/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

